.tweetpane,
.tweetpane-container,
.tweetpane-cover {
  width: 100%;
  height: 550px;
}

.tweetpane-container {
  overflow-y: hidden;
  margin-bottom: 10px;
}

.tweetpane-cover {
  position: relative;
  background-color: #fff;
}

.tweetpane-cover .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
}

.tweetpane-addon #timeline {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.tweetpane-addon .AppContent {
  width: 100%;
  padding: 0;
}

.tweetpane-addon .ActivityItem {
  padding: 10px 12px 10px 32px;
}

.tweetpane-addon .ProfileTweet-action {
  min-width: 50px;
}

.tweetpane-addon .ProfileHeading {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 5;
}

.tweetpane-addon .stream-container {
  padding-top: 45px;
}

.tweetpane-addon .stream-end {
  margin-bottom: 0;
}

.tweetpane-addon .content-header {
  border: 0px;
}

.tweetpane-addon #dm_dialog .modal,
.tweetpane-addon #retweet-tweet-dialog .modal[style],
.tweetpane-addon #global-tweet-dialog .modal[style] {
  width: 290px;
  left: 0px !important;
  top: 0px !important;
  overflow-y: hidden;
  margin-bottom: 0;
}

.tweetpane-addon .modal-content {
  height: 550px;
  border-radius: 0px;
}

.tweetpane-addon .modal-tweet-form-container {
  position: absolute;
  bottom: 0;
}

.tweetpane-addon #dm_dialog-header,
.tweetpane-addon #retweet-tweet-dialog-header {
  visibility: hidden;
}

.tweetpane-addon #retweet-tweet-dialog-header::after {
    content: 'Retweet this?';
    visibility: visible;
    display: block;
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 15px;
}

.tweetpane-addon #tweet-box-global,
.tweetpane-addon #retweet-with-comment {
  max-height: 64px;
  overflow-y: auto;
}

.tweetpane-addon #global-tweet-dialog .TweetBoxToolbar,
.tweetpane-addon .DMInboxItem-title .username,
.tweetpane-addon .DMDialog,
.tweetpane-addon .DMComposer {
  display: block;
}

.tweetpane-addon .DMActivity {
  width: 290px;
  height: 550px;
  min-width: 290px;
  border-radius: 0px;
}

.tweetpane-addon .DMComposer-container {
  width: 270px;
  margin-bottom: 10px;
}

.tweetpane-addon .DMComposer-send {
  float: right;
}

.tweetpane-addon .TweetBoxExtras {
  display: inline-block;
}

.tweetpane-addon .DMTypeaheadSuggestions {
  overflow-x: hidden;
}

.tweetpane-addon .DMActivity-toolbar > * + * {
  margin-left: 10px;
}

.tweetpane-addon .modal-overlay,
.tweetpane-addon .NotificationsSettingsButton,
.tweetpane-addon .topbar,
.tweetpane-addon .dashboard,
.tweetpane-addon #profile-hover-container[style],
.tweetpane-addon .QuoteTweet-link {
  display: none !important;
}
